@import '/src/scss/variables';

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;

  &>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    &>text {
      font-weight: 600;
    }
  }
}

.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;

  &>text {
    font-weight: 600;
  }
}