@import "/src/scss/variables.scss";

.header {
  position: relative;
  height: $header-height;
  background-color: $body-bg-color;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 30px;
  transform: translate(-50%, -50%);
}

.navs {
  display: inline-block;
  padding: 18px 20px;
  color: white;

  button {
    padding: 5px 11px !important;

    &+button {
      margin-left: 12px !important;
    }

    &:hover {
      color: $text-color;
    }
  }
}
