@import '/src/scss/variables';
@import '/src/scss/mixins';

.body {
  overflow: hidden;
  max-height: none;
  padding: 0;
}

.switch {
  position: absolute !important;
  top: 50%;
  right: 72px;
  transform: translateY(-50%);
  background-color: $light-color04;
}

.close {
  position: absolute;
  @include vertical-center;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 6px;
  border-radius: $border-radius;
  background-color: #242e42;
  cursor: pointer;
}

.contentWrapper {
  min-height: 500px;
  max-height: calc(100vh - 222px);
  overflow-y: auto;
}

.content {
  width: 920px;
  margin: 0 auto;
  padding: 20px 0 48px 0;
}

.footer {
  padding: 12px 20px;
  background-color: $light-color02;
  box-shadow: inset 0px 1px 0px #CCD3DB;
  border-radius: 0px 0px 4px 4px;
  text-align: right;
}
